<%= form_with model: @forecast do |f| %>
  <div class="field">
    <%= f.label :city %>
    <%= f.select :city, ["London", "New-York", "Paris", "Seoul", "Tokyo"], selected: current_user.prefered_city %>
  </div>

  <div class="actions">
    <%= f.submit "Search" %>
  </div>
<% end %>
